<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('header') %>
    <h2>EJS模板引擎</h2>
    <p>当前日期<%=date%></p>
    <p>我是<%=person.name%>,我今年<%=person.age%></p>
    <%-hContent%>
</body>
</html>